*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000C36;
    color: #FFFFFF;
}
header{
    text-align: center;
}
img{
    width: 100px;
    margin-top: 50px;
}

.title{
    font-family: "Carter One", system-ui;
    font-size: 40px;
}

main{
    font-family: "Roboto Slab", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    padding: 0 34px;
}

div{
    width: 85%;
    margin-inline: auto; 
    display: flex;
    flex-direction: column;
}



h2{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    max-width: 450px;
    margin-inline: auto; 
}
textarea{
    width: 100%;
    max-width: 650px;
    padding: 20px 12px 20px;
    resize: none;
    background-color: #3B4877;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    margin-inline: auto; 

}

button{
    width: 85%;
    padding: 20px 0;
    margin-bottom: 45px;
    
    border: none;
    border-radius: 10px;
    
    color: #000C36;
    background-color: #51E08A;
    
    font-size: 30px;
    font-weight: bold;
    
    cursor: pointer;
}



.result-title{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.result-reasone{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    color: white;
}
.warning{
    background-color: red;
    padding: 0.5em 1em;
    color: white;
    font-weight: bold;
    width: 70%;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    font-size: 14px;
    position: fixed;
    top: 0;
    right: 15%;
    left: 15%;
    line-height: 1.2;
}


@media (min-width: 900px) {
    body{
        padding: 20px;
    }
    header{
        margin-bottom: 45px;
    }
    img{
     width: 250px;
    }

    .title{
        font-family: "Carter One", system-ui;
        font-size: 65px;
    }
    h2{
        font-size: 1.75rem;
        text-align: center;
        margin: 1.25em auto 1em;
    }

    .q:last-of-type{
        margin-bottom: 45px;
    }

    button{
        max-width: 650px;
    }
}